@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height:100%*/
}

body{
    background-image: linear-gradient(to left,#042326,#0A3A40,#0F5959);
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #021516;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #0A3A40;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

h2{
    color:#1D7373 ;
}

p{
    text-align: justify;
    font-size: 20px;
}